<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TIMUR KARABAEV</title>
    <!-- STYLE CONNECT LINK-->
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- STYLE CONNEXT END -->
</head>
<body>

<!--   MAIN START  -->
    <div class="main">
        <!-- HOME SECTION START -->
        <section class="home-section align-items-center">
            <div class="container">
                <div class="row align-items-center">
                    <div class="home-text">
                        <p>Hello, I,m</p>
                        <h1>Timur Karabaev</h1>
                        <h2>Back end web developer</h2>
                        <a href="#" class="btn" >more about me</a>
                        <a href="" class="btn">portfolio</a>
                    </div>
                    <div class="home-img">
                        <div class="img-box">
                            <img src="../static/img/Timur.png" alt="profile-img">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- HOME SECTION END -->

        <!-- ABOUT SECTION START -->
        <section class="about-section sec-padding">
            <div class="container">
                <div class="row">
                    <div class="section-title">
                        <h2>about me</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="about-img">
                        <div class="img-box">
                            <img src="../static/img/timur.png" alt="about-img">
                        </div>
                    </div>
                    <div class="about-text">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                             Sit inventore sequi, reiciendis id eos harum expedita ipsam cum, dolorem nam eveniet, quaerat 
                            doloribus explicabo autem consequuntur asperiores aspernatur blanditiis molestiae.</p>
                            <h3>skills</h3>
                            <div class="skills">
                                <div class="skill-items">html</div>
                                <div class="skill-items">css</div>
                                <div class="skill-items">python</div>
                                <div class="skill-items">django</div>
                                <div class="skill-items">telegram bot</div>
                                <div class="skill-items">sqlite3</div>
                                <div class="skill-items">pytorch</div>
                                <div class="skill-items">pentesting</div>
                            </div>

                            <div class="about-tabs">
                                <button type="button" class="tab-item active" id="tab-item1" >education</button>
                                <button type="button" class="tab-item" id="tab-item2" >experiance</button>
                            </div>

                            <!-- EDUCATION START  -->
                            <div class="tab-content education active" id="education">
                                <div class="timeline">
                                    <div class="timeline-item">
                                        <span class="date">2013 - 2016</span>
                                        <h4>kazan data scuints <span>innopolis universitetiy</span></h4>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                            Delectus sequi accusantium iusto quis dolore saepe.</p>
                                    </div>
                                    <div class="timeline-item">
                                        <span class="date">2013 - 2016</span>
                                        <h4>kazan data scuints <span>innopolis universitetiy</span></h4>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                            Delectus sequi accusantium iusto quis dolore saepe.</p>
                                    </div>
                                    <div class="timeline-item">
                                        <span class="date">2013 - 2016</span>
                                        <h4>kazan data scuints <span>innopolis universitetiy</span></h4>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                            Delectus sequi accusantium iusto quis dolore saepe.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- EDUCATION END -->

                            <!-- EXPERIANCE START -->
                            <div class="tab-content experience" id="experience">
                                <div class="timeline">
                                    <div class="timeline-item">
                                        <span class="date">2014 - 2021</span>
                                        <h4>web backend develepor <span></span></h4>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                             Numquam odit asperiores, reiciendis repellendus vitae ratione.</p>
                                    </div>
                                    <div class="timeline-item">
                                        <span class="date">2014 - 2021</span>
                                        <h4>web backend develepor <span></span></h4>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                             Numquam odit asperiores, reiciendis repellendus vitae ratione.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- EXPERIANCE END  -->

                    </div>
                </div>
            </div>
        </section>
        <!-- ABOUT SECTION END -->
    </div>

<!--   MAIN END -->
    <script src="../static/js/script.js"></script>
</body>
</html>